.card-group-vertical {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 8px;
    overflow: hidden;
}

.card-group-vertical>.card {
    width: 100%;
    border-width: 1px 0px 0px 0px;
    border-radius: 0px;
}

.card-group-vertical>.card:first-child {
    border-top-width: 0px;
    border-radius: 0px 0px 0px 0px;
}

.card-group-vertical>.card:last-child {
    border-bottom-width: 0px;
    border-radius: 0px 0px 4px 4px;
}

.msg-toast.transition{
    height: 60px;
}

.msg-toast{
    color: white;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    height: 0px;
}