.card-group-vertical>.card:not(:first-child):not(:last-child) {
    /* width: 100%; */
    border-radius: 0px;
    border-top: 0px;
}


.card-group-vertical>.card:first-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-group-vertical>.card:last-child {
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.msg-toast.transition {
    height: 60px;
}

.msg-toast {
    color: white;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    height: 0px;
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: translateY(-50%);
    top: 50%;
    padding: 2.5rem 0.5rem 2.5rem 0.5rem;
    font-weight: bold;
    font-size: small;
}

html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    position: relative;
}

.scroll-snap-bottom{
    scroll-snap-align: start;
    scroll-snap-stop:normal;
}
.scroll-snap-start {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    scroll-margin-top: 40px;
}